#header img {
    position:relative;
    left:50%;
    transform: translateX(-50%);
    padding-top:10px;
    padding:10px;
    max-width:100%;
    height:auto;
}

nav {
    text-align: center;

}

nav ul li {
    float:left;
    padding-left:40px;
    padding-right:40px;
    transition: ease-in-out 0.4s;
    padding-top:10px;
    padding:5px;

}

nav ul li a {
    color:#0E0E0C;
    font-size:1.5em;
    text-decoration: none;
}

nav li:hover {
    background-color: #B0B7C3;
}

#timetable {
    margin-top:30px;
}

#map {
    height:600px;
}

#weather {
    position:relative;
    left:93%;
    top: -10%;
    width:5%;
    color:black;
}

#scrollbar {
    overflow:hidden;
    white-space: nowrap;
    color:black;
    background-color:orange;
    height:5%;
    font-size: 22pt;
    font-weight: 500;
    vertical-align: middle;
}

#scrollbar p {
    display: inline-block;
    padding-left: 100%;
    animation: scrollbar 10s linear infinite;
}

@keyframes scrollbar {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
body {
    font-family: Roberto, sans-serif;
    font-style: normal;
    font-weight: 100;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;   
}

.refroute {
    width : 10%;
    height : 100%;
    border-bottom : 1px solid grey;
    align-self : center;
    text-align : center;
    display :table-cell;
    vertical-align : middle;
    font-weight : bold;
    text-decoration: underline;
}

.refdest {
    width : 70%;
    height : 100%;
    border-bottom : 1px solid grey;
    align-self : left;
    text-align : center;
    vertical-align : middle;
    display: table-cell;
    font-weight : bold;

    text-decoration: underline;
}
.refedt {
    width : 20%;
    height : 100%;
    border-bottom : 1px solid grey;
    align-self : left;
    text-align : center;
    vertical-align : middle;
    display:table-cell;
    font-weight : bold;
    position:relative;
    text-decoration: underline;

}

.timedata {

    width : 100%;
    /*height : 10.5%;*/
    border-bottom : 1px solid grey;
    display : table;
    font-size: 18pt;

}

.timeroute {
    width : 12%;
    text-align : center;
    vertical-align : middle;
    display:table-cell;
    font-weight : bold;
    top:0%;

}

.timedest {
    width : 68%;
    align-self : left;
    text-align : left;
    vertical-align : middle;
    font-weight : bold;
    font-style: italic;
    position:relative;
    display: table-cell;
}

.timeedt {
    width : 20%;
    text-align : center;
    vertical-align : middle;
    font-weight : bold;
    display: table-cell;

}

